<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQNumberSlideView_DEMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>95F81C861EC6D41600579A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F81C9F1EC6D41600579A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95F81CAA1EC6D41600579A30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
